<app-page
  title="{{ 'register_alias' | i18n }}"
  [breadcrumbs]="[{label:'aliases' | i18n, path: '/aliases'}]"
  *ngIf="fees"
>
  <div class="create-account-container">
    <mat-horizontal-stepper #stepper
                            linear
                            [linear]="true"
                            [selectedIndex]="this.wizardService.getStep()"
                            labelPosition="bottom"
    >
      <mat-step>
        <ng-template matStepLabel>{{ 'verify_alias' | i18n }}</ng-template>
        <div class="step-container">
          <app-add-alias-verify-alias [account]="account"></app-add-alias-verify-alias>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ 'edit_alias' | i18n }}</ng-template>
        <div class="step-container">
          <app-edit-alias-form [account]="account" [fees]="fees" [aliasName]="this.wizardService.aliasName"></app-edit-alias-form>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

</app-page>
