
table {
  margin-top: 10px;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #efefef;
  word-break: break-word;
  min-width: 200px;
}


h2 button {
  padding: 0;
  min-width: 35px;
}

h2 mat-icon {
  font-size: 19px;
}

.avatar {
  position: relative;
  padding: 20px;
  width: 140px;
  height: 140px;
  filter: drop-shadow(2px 4px 6px black);

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}


.account-details {
  display: flex;
  flex-direction: row;
  position: relative;
  background: white;
  border-radius: 4px;
  padding: 2rem;
  align-items: center;

  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: 0 2rem;

    .details {
      display: flex;
      flex-direction: column;
    }

    .src44 {
      display: flex;
      flex-direction: column;

      .homepage {
        display: inline-flex;
        align-items: center;
      }
    }

    h2, h3 {
      margin: 0;
    }
  }
}
