
table {
    margin-top:10px;
}

th, td {
    padding:5px;
    text-align: left;
    border-bottom:1px solid #efefef;
    word-break: break-word;
    min-width: 200px;
}

.qr {
    margin:20px;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
}