<div class="card">

  <!-- PREVIEW -->
  <div class="card-preview">
    <div>

      <img src="assets/images/cards/card1.jpg">

      <div class="p-16">
        <div class="h1">Update available</div>
        <div class="h4 secondary-text">Current Version: {{updateInfo.currentVersion}} </div>
        <div class="h4 secondary-text">New Version: {{updateInfo.newVersion}} </div>
        <p>
          <a href="{{updateInfo.releaseUrl}}" class="h4 secondary-text">What's new?</a>
        </p>
      </div>

      <div class="p-16 pt-0 line-height-1.75">
        Cards provide context and an entry point to more robust information and views, and their
        content and quantity can vary greatly.
      </div>

    </div>

  </div>
