<div class="card">

  <div class="card-header">
    <img src="assets/images/logos/phoenix_banner.jpg">
    <div class="h1 title">
      Update available
    </div>
  </div>

  <!-- PREVIEW -->
  <div class="card-content">
    <div>
      <div class="h4 secondary-text">Current Version: {{updateInfo.currentVersion}}</div>
      <div class="h4 secondary-text new-version">
        <div>New Version: {{updateInfo.newVersion}}</div>
        <a href="{{updateInfo.releaseUrl}}"
           target="_blank"
           class="font-size-12 secondary-text"
           matTooltip="Click here to see what has changed">
          <mat-icon class="pl-4 s-16">help_outline</mat-icon>
        </a>
      </div>
    </div>

    <mat-form-field class="mt-16">
      <mat-select placeholder="Choose file for {{platform}} to download">
        <mat-option *ngFor="let assetUrl of updateInfo.assets" [value]="assetUrl">
          {{assetUrl}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="card-footer">
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]>{{ 'cancel' | i18n }}</button>
    </div>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close] color="accent">{{ 'download' | i18n }}</button>
    </div>
  </div>
</div>
