<app-page title="{{ 'blocks' | i18n }}" [full]="true">

  <div class="p-24 content">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="block">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'block' | i18n }}</mat-header-cell>
        <mat-cell *matCellDef="let block">
          <a [routerLink]="['block', block.block]">{{ block.block }}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="height">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'height' | i18n }}
        </mat-header-cell>
        <mat-cell *matCellDef="let block">
          {{ block.height }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfTransactions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'transactions' | i18n }}
        </mat-header-cell>
        <mat-cell *matCellDef="let block">
          {{ block.numberOfTransactions }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>schedule</mat-icon>&nbsp;{{ 'date' | i18n }}
        </mat-header-cell>
        <mat-cell *matCellDef="let block" title="{{convertTimestamp(block.timestamp) | date:'MMM d, y, h:mm:ss'}}">
          {{convertTimestamp(block.timestamp) | timeAgo}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalAmountNQT">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>local_atm</mat-icon>&nbsp;{{ 'amount' | i18n }}
        </mat-header-cell>
        <mat-cell *matCellDef="let block">
          {{ block.totalAmountNQT | amount:'planck' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalFeeNQT">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>compare_arrows</mat-icon>&nbsp;{{ 'fee' | i18n }}
        </mat-header-cell>
        <mat-cell *matCellDef="let block"> {{ block.totalFeeNQT | amount:'planck'}}
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="totalFeeBurntNQT">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>money_off</mat-icon>&nbsp;{{ 'feeBurnt' | i18n }}
        </mat-header-cell>
        <mat-cell *matCellDef="let block"> {{ block.totalFeeBurntNQT | amount:'planck'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="averageCommitmentNQT">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>money</mat-icon>&nbsp;{{ 'avgCommitment' | i18n }}
        </mat-header-cell>
        <mat-cell *matCellDef="let block"> {{ block.averageCommitmentNQT | amount:'planck'}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 500]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</app-page>
