
.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.action-row {
  justify-content: space-between;
  align-items: center;
  display: flex;

  .buttons {
    button {
      align-self: center;
    }

    button.delete {
      margin-left: auto;
      margin-right: 10px;
    }
  }
}

.mat-column {

  &-type {
    flex: 0 0 80px;
    justify-content: end;
  }

  &-delete {
    flex: 0 0 50px;
  }

}

.select-icon {
  justify-content: center;
}

.clickable {
  cursor: pointer;
  color: #039be5 !important;
}
