<mat-form-field [appearance]="appearance">
  <div class="container" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
    <input matInput
           [(ngModel)]="recipientValue"
           (ngModelChange)="onRecipientFieldInputChange(recipientValue)"
           (blur)="validateRecipient(recipientValue)"
           placeholder="{{ 'recipient' | i18n }}"
           [disabled]="disabled">

    <div *ngIf="recipient.type !== 1 && recipient.status !== 'unstoppable-outage'"
         class="recipient-address"
         title="{{ recipient.addressRS }}">
        {{ recipient.addressRS }}
    </div>
    <div fxFlex fxLayout="row"
         *ngIf="recipient.type>0"
         [ngClass]="getValidationClass()"
         matTooltip="{{getValidationHint()}}"
    >
      <div>{{getRecipientTypeName()}}</div>
      <mat-icon>
        {{getValidationIcon()}}
      </mat-icon>
    </div>
    <ng-container *ngIf="withQrCode">
      <input #file type="file" accept="image/*" (change)="parseQR()" id="{{fileId}}" class="inputfile" capture="environment">
      <label for="{{fileId}}" class="camera-icon" *ngIf="!disabled">
        <mat-icon>camera_alt</mat-icon>
      </label>
    </ng-container>
    <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
  </div>
</mat-form-field>
