<div class="fullwidth fullheight" (mouseenter)="showPoints()" (mouseleave)="hidePoints()">
  <div class="main-widget" *ngIf="chart">
    <div class="fuse-navy-500-fg">
      <small *ngIf="account.transactions.length" class="grey-500-fg font-size-10 since-text">{{"recent_transactions_since" | i18n}}&nbsp;{{firstDate}}</small>
      <div class="balance-info mt-16">
        <h1 class="pr-8 mb-0">{{accountBalances.totalBalance.getSigna() | amount}}</h1>
        <div class="inline">
          <small class="font-size-12 pr-8">{{calculateValue(priceBtc) | currency:'฿'}}</small>
          <small class="font-size-12 pr-8">{{calculateValue(priceUsd) | currency:'USD'}}</small>
          <small class="font-size-12 pr-8">{{calculateValue(priceEur) | currency:'EUR'}}</small>
          <small class="font-size-12">{{calculateValue(priceRub) | currency:'₽'}}</small>
        </div>
      </div>
      <div *ngIf="account.transactions.length">
        <div class="chart-container">
          <canvas baseChart
                  chartType="line"
                  class="border-radius-8"
                  [datasets]="chart.datasets"
                  [labels]="chart.labels"
                  [colors]="chart.colors"
                  [options]="chart.options"
          >
          </canvas>
        </div>
      </div>
      <div class="no-transactions" *ngIf="!account.transactions.length">
        <h2 class="align-center">{{"dashboard_welcome_title" | i18n}}</h2>
      </div>
    </div>
  </div>
</div>
