@import "src/@fuse/scss/fuse";

:host {

  position: relative;

  .chart-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0;
  }

  .since-text {
    position: absolute;
    right: 16px;
    top: 12px;
  }

  .balance-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .no-transactions {
    text-align: center;
    display: flex;
    margin-top: 4rem;
  }

  .align-center {
    align-self: center;
    flex: 1;
  }

}
