@import "src/@fuse/scss/fuse";

:host {

  .since-text {
    position: absolute;
    right: 16px;
    top: 12px;
  }

  .balance-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .no-transactions {
    text-align: center;
    display: flex;
    height: 59%;
  }

  .align-center {
    align-self: center;
    flex: 1;
  }

}
