<div id="balance-diagram-charts-wrapper" (mouseenter)="showPoints()" (mouseleave)="hidePoints()">
  <div class="main-widget" *ngIf="chart">
    <div class="h-256 pb-16 blue-600">
      <div class="pl-16 balance-info">
        <h1 class="mb-8 pr-8">{{account.balanceNQT | burstAmount:'planck'}}</h1>
        <div class="conversions">
          <small class="font-size-14">{{calculateValue(priceBtc) | currency:'฿'}}</small>
          <small class="pl-8 font-size-14">{{calculateValue(priceUsd) | currency:'USD'}}</small>
          <small class="pl-8 font-size-14">{{calculateValue(priceEur) | currency:'EUR'}}</small>
        </div>
      </div>
      <div class="position-relative">
        <canvas baseChart
                chartType="line"
                [datasets]="chart.datasets"
                [labels]="chart.labels"
                [colors]="chart.colors"
                [options]="chart.options"
        >
        </canvas>
      </div>
      <small class="pl-16">{{"recent_transactions_since" | i18n}}&nbsp;{{firstDate}}</small>
    </div>
  </div>
</div>
