@import "src/@fuse/scss/fuse";

#balance-diagram-charts-wrapper {
  .balance-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    @include media-breakpoint('xs') {
      flex-direction: column;
    }
    .conversions {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}

.no-transactions {
  text-align:center; 
  display: flex; 
  height: 59%;
}

.align-center {
  align-self: center; 
  flex: 1;
}