<div id="balance-diagram-charts-wrapper" (mouseenter)="showPoints()" (mouseleave)="hidePoints()">
  <div class="main-widget" *ngIf="chart">
    <div class="h-256 pb-16 blue-600">
      <div class="pl-16 balance-info">
          <div class="inline responsive">
            <h1 class="pr-8 mb-0">{{account.balanceNQT | burstAmount:'planck'}}</h1>
            <div class="inline">
              <small class="font-size-14 pr-8">{{calculateValue(priceBtc) | currency:'฿'}}</small>
              <small class="font-size-14 pr-8">{{calculateValue(priceUsd) | currency:'USD'}}</small>
              <small class="font-size-14">{{calculateValue(priceEur) | currency:'EUR'}}</small>
            </div>
          </div>
        <small class="font-size-14">{{"balance_available"| i18n}}
          : {{calculateAvailableAmount() | burstAmount:'burst'}}</small>
        <small class="font-size-14">{{"balance_locked"| i18n}}
          : {{calculateLockedAmount() | burstAmount:'burst'}}</small>
      </div>
      <div *ngIf="account.transactions.length">
        <div class="position-relative">
          <canvas baseChart
            chartType="line"
            [datasets]="chart.datasets"
            [labels]="chart.labels"
            [colors]="chart.colors"
            [options]="chart.options"
          >
          </canvas>
        </div>
        <small class="pl-16">{{"recent_transactions_since" | i18n}}&nbsp;{{firstDate}}</small>
      </div>
      <div class="no-transactions" *ngIf="!account.transactions.length">
        <h1 class="align-center">{{"dashboard_welcome_title" | i18n}}</h1>
      </div>
    </div>
  </div>
</div>
