<section class="login" [fusePerfectScrollbar]="false" [fusePerfectScrollbarOptions]="{suppressScrollY:true}">
  <app-watermark></app-watermark>

  <div class="login-active__container">
    <div class="signup">
      <div class="signup__container">
        <h1 *ngIf="newUser | async; else updateTitle"
            class="signup__title print-hide">{{ 'account_create_new' | i18n }}
        </h1>
        <app-account-create [newUser]="newUser | async"></app-account-create>
      </div>
    </div>

    <ng-template #updateTitle>
      <h1 class="signup__title">{{ 'update_burst_account' | i18n }}</h1>
    </ng-template>
  </div>
</section>
