<form (ngSubmit)="onSubmit($event);" #sendBurstForm="ngForm">

  <burst-recipient-input (qrCodeUpload)="onQRUpload($event)" (recipientChange)="onRecipientChange($event)" [disabled]="immutable" ></burst-recipient-input>

  <mat-grid-list cols="2" rowHeight="85px" gutterSize="10px">
    <mat-grid-tile>
      <mat-form-field>
        <input matInput [(ngModel)]="amountNQT" name="amountNQT" placeholder="{{ 'amount' | i18n }}" [disabled]="immutable">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="feeNQT">
      <mat-form-field>
        <input matInput [(ngModel)]="feeNQT" name="feeNQT" placeholder="{{ 'fee' | i18n }}" [disabled]="immutable">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <burst-fee-selector *ngIf="!immutable" [fees]="fees" [(feeNQT)]="feeNQT"></burst-fee-selector>

  <mat-checkbox labelPosition="before" (click)="showMessage=!showMessage">{{ "add_message_q" | i18n }}</mat-checkbox>

  <div *ngIf="showMessage">
    <mat-form-field>
      <textarea matInput [(ngModel)]="message" name="message" placeholder="{{ 'message' | i18n }}"></textarea>
    </mat-form-field>
    <mat-checkbox  labelPosition="before" [(ngModel)]="encrypt" name="encrypt">{{ "encrypt_message" | i18n }}?</mat-checkbox>
  </div>

  <div *ngIf="advanced">
    <mat-form-field>
      <label>{{ 'deadline_hours' | i18n }}</label>
      <input matInput [(ngModel)]="deadline" name="deadline" placeholder="{{ 'deadline_hours' | i18n }}">
    </mat-form-field>

    <!--    FUTURE FEATURE-->
    <!--
        <mat-form-field >
          <input matInput [(ngModel)]="fullHash" name="fullHash"
                 placeholder="{{ 'referenced_transaction_full_hash' | i18n }}" disabled>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="broadcast" name="broadcast" disabled>{{ "do_not_broadcast" | i18n }}</mat-checkbox>
        <br/>

        <mat-checkbox [(ngModel)]="note" name="note" disabled>{{ "add_note_to_self_q" | i18n }}</mat-checkbox>

        <div *ngIf="note">
          <mat-form-field >
            <textarea matInput [(ngModel)]="note_text" name="note_text" placeholder="{{ 'note' | i18n }}"></textarea>
          </mat-form-field>
        </div>
    -->
  </div>

  <div class="send-button-wrapper">
    <mat-form-field class="message-text password-field" floatLabel="never" appearance="standard">
      <input type="password" matInput required placeholder="{{'enter_pin' | i18n}}" [(ngModel)]="pin" name="pin">
    </mat-form-field>

    <button class="send-button" mat-icon-button type="submit" aria-label="Send message"
            [disabled]="!canSubmit()">
      <ng-container *ngIf="!isSending">
        <mat-icon [class.enabled]="canSubmit() || false">send</mat-icon>
      </ng-container>
      <ng-container *ngIf="isSending">
        <mat-spinner diameter="20"></mat-spinner>
      </ng-container>
    </button>
  </div>

  <strong>Total:</strong> {{ getTotal() }} BURST -
  <a (click)="advanced=!advanced"><em>{{ advanced ? "basic" : "advanced" | i18n }}</em></a>

</form>


<!--<button type="submit" class="mr-8" mat-raised-button mat-button color="primary"-->
<!--  (click)="onSubmit($event)">{{ "send_burst" | i18n }}</button>-->
