<div [ngSwitch]="value.type">

  <div *ngSwitchCase="'Message'">{{value.data.message}}</div>

  <div *ngSwitchCase="'AccountAddress'">
    <a [routerLink]="['/account', convertAddressToNumericId(value.data)]">{{value.data}}</a>
  </div>

  <div *ngSwitchCase="'AccountId'">
    <a [routerLink]="['/account', value.data]">{{value.data}}</a>
  </div>

  <div *ngSwitchCase="'BlockId'">
    <a [routerLink]="['/blocks/block', value.data]">{{value.data}}</a>
  </div>

  <div *ngSwitchCase="'Transactions'">
    <div class="chip-list">
      <span *ngFor="let v of value.data" class="transaction chip">
        <a [routerLink]="['/transactions/transaction', v]">{{v}}</a>
      </span>
    </div>
  </div>

  <div *ngSwitchCase="'Date'">{{value.data | date:'MMM d, y, h:mm:ss'}}</div>

  <div *ngSwitchDefault>{{value.data | i18n}}</div>
</div>
