<app-page title="{{ 'send_single_message' | i18n }}" *ngIf="fees && account" [wide]="false">
  <div class="account-info pl-20 pr-20 mb-8">
    <div class="account-info__field">
      <small class="secondary-text text-uppercase">{{'account'| i18n}}</small>
      <p class="pb-8">{{account.account | address}}</p>
    </div>
    <div class="account-info__field">
      <small class="secondary-text text-uppercase">{{'balance_available'| i18n}}</small>
      <p>{{getBalance() | amount }}</p>
    </div>
  </div>
  <app-send-message-form [fees]="fees" [account]="account"></app-send-message-form>
</app-page>
