<form (ngSubmit)="onSubmit($event);" #sendMoneyForm="ngForm">

  <recipient-input [recipientValue]="recipient.addressRaw"
                   (recipientChange)="onRecipientChange($event)"
                   (qrCodeUpload)="onQRUpload($event)"
                   [disabled]="immutable">

  </recipient-input>

  <app-publickey-input
    *ngIf="!recipient.publicKey"
    [recipient]="recipient"
    (publickeyChange)="onPublickeyChange($event)">
  </app-publickey-input>


  <app-amount-input [(amount)]="amount"
                    (amountChange)="onAmountChange()"
                    [disabled]="immutable"
                    [maxAmount]="maxAmount"></app-amount-input>
  <app-fee-input *ngIf="!immutable"
                 [type]="type"
                 [subtype]="subtype"
                 [(feeSigna)]="fee"
                 (feeSignaChange)="onAmountChange()"
                 [payloadLength]="message ? message.length : 0"
  >
  </app-fee-input>

  <mat-checkbox labelPosition="before" [disabled]="immutable" [(ngModel)]="showMessage"
                name="showMessage">{{ "add_message_q" | i18n }}</mat-checkbox>
  <ng-container *ngIf="showMessage">
    <app-message-input
      [disabled]="immutable"
      [(message)]="message"
      [(isText)]="messageIsText"
      [(encrypt)]="encrypt"
      [canEncrypt]="canEncrypt()"
    >
    </app-message-input>
  </ng-container>
  <app-submit-transaction [(pin)]="pin" [disabled]="!canSubmit()" [isSubmitting]="isSending">
  </app-submit-transaction>
  <strong>{{'total' | i18n}}:&nbsp;</strong>
  <span [class.error-text]="!hasSufficientBalance()">{{ getTotal().getSigna() | amount }}</span>
</form>
