<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="transaction_id">
    <mat-header-cell *matHeaderCellDef >
      {{"transaction_id" | i18n}}
    </mat-header-cell>
    <mat-cell *matCellDef="let transaction">
      <div class="transaction-content">
        <a [routerLink]="['/transactions/transaction', transaction.transaction]">
          {{ transaction.transaction }}
        </a>
        <span *ngIf="transaction.attachment" class="attachment">
          <mat-icon matTooltip="{{'attachment' | i18n }}">attach_file</mat-icon>
        </span>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="timestamp">
    <mat-header-cell *matHeaderCellDef >
      {{"date" | i18n}}
    </mat-header-cell>
    <mat-cell class="smaller" *matCellDef="let transaction">
      <div class="timestamp-content stacked">
        <div>
          {{ getDate(transaction)}}
        </div>
        <div class="time">
          {{ getTime(transaction)}}
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef >
      {{"type" | i18n}}
    </mat-header-cell>
    <mat-cell class="smaller" *matCellDef="let transaction">
      <div class="type-content">
        {{ getTransactionNameFromType(transaction) | i18n }}
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef >
      {{"amount"|i18n}}
    </mat-header-cell>
    <mat-cell *matCellDef="let transaction">
      <div class="amount-content stacked">
        <div *ngIf="!isCommitment(transaction)"
             class="amount {{getRowClass(transaction)}}">
          {{getAmount(transaction) | amount:'signa':true}}
        </div>
        <div *ngIf="isCommitment(transaction)"
             class="amount incoming">
          {{getCommitmentAmount(transaction) | amount:'signa':true}}
        </div>
        <div class="fee">
          {{'fee' | i18n}}: {{transaction.feeNQT | amount:'planck':true}}
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="account">
    <mat-header-cell *matHeaderCellDef >
      {{ "account" | i18n }}
    </mat-header-cell>
    <mat-cell class="smaller" *matCellDef="let transaction">
      <ng-container *ngIf="isOwnAccount(transaction.sender)">
        <div *ngIf="!isMultiOutPayment(transaction) && !transaction.recipientRS"
             class="text-uppercase"
        >
          {{"self" | i18n}}
        </div>
        <a *ngIf="!isMultiOutPayment(transaction) && transaction.recipientRS"
           [routerLink]="['/account', transaction.recipient]">{{
          chopPrefix(transaction.recipientRS)
          }}</a>
        <div *ngIf="isMultiOutPayment(transaction)"
             class="text-uppercase"
        >
          {{"multiple_recipients" | i18n}}
        </div>
      </ng-container>
      <a *ngIf="!isOwnAccount(transaction.sender)"
         [routerLink]="['/account', transaction.sender]"
      >{{chopPrefix(transaction.senderRS)}}</a>

    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="confirmations">
    <mat-header-cell *matHeaderCellDef >{{
      "confirmations" | i18n
      }}</mat-header-cell>
    <mat-cell class="smaller" *matCellDef="let transaction">
      <span *ngIf="transaction.confirmations !== undefined">{{transaction.confirmations}}</span>
      <span *ngIf="transaction.confirmations === undefined">{{'pending' | i18n}}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"
           [class]="getRowClass(row)"
  >
  </mat-row>
</mat-table>

<mat-paginator
  *ngIf="paginationEnabled"
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[10, 20, 50]"
  [showFirstLastButtons]="true"
>
</mat-paginator>
