:host {


  .mat-column-transaction_id {
    flex: 0 0 200px;
    font-size: 1.2rem;
  }

  .mat-column-attachment {
    flex: 0 0 50px;
  }

  .mat-column-type {
    flex: 0 0 150px;
  }

  .mat-column-timestamp {
    flex: 0 0 100px;
  }

  .mat-column-account {
    flex: 0 0 225px;
    font-size: 1.2rem;
  }

  .mat-column-amount {
    flex: 0 1 200px;
    margin-left: 1rem;
  }

  .mat-cell {
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
  }

  .self {
    background-color: #f5f5f5 !important;
  }

  .incoming {
    background-color: #f5fff5 !important;
  }

  .outgoing {
    background-color: #fff5f5 !important;
  }

  .unconfirmed {
    animation: pulse 5s ease-in-out infinite !important;
  }

  .centered {
    text-align: center;
    margin: 0 auto;
  }

  .fg_green {
    color: green !important;
  }

  .fg_red {
    color: red !important;
  }

  @keyframes pulse {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.5;
    }
  }

}
