<div *ngIf="layoutParameters && account" class="p-16">
  <mat-grid-list [cols]="layoutParameters.columnCount"
                 rowHeight="32px"
                 gutterSize="16px"
  >
    <mat-grid-tile
      [colspan]="layoutParameters.columnSpans.chart"
      [rowspan]="layoutParameters.rowSpans.chart">
      <app-balance-chart
        class="widget custom-widget"
        [account]="account"
        [priceBtc]="priceBtc"
        [priceUsd]="priceUsd"
        [priceEur]="priceEur"
        [priceRub]="priceRub"
      >
      </app-balance-chart>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="layoutParameters.columnSpans.table"
      [rowspan]="layoutParameters.rowSpans.table"
    >
      <app-transactions-table-widget class="widget"
                                     [displayedColumns]="layoutParameters.tableColumns"
      ></app-transactions-table-widget>
    </mat-grid-tile>
  </mat-grid-list>
</div>
