os: osx
language: node_js
node_js: '12'
addons:
  homebrew:
    packages:
      - rpm

cache:
  directories:
    # - node_modules
    - "$HOME/.cache/electron"
    - "$HOME/.cache/electron-builder"

before_script:
  - npm i @angular/cli -g

jobs:
  include:
    - stage: prepare
      name: "Run BurstJS Tests"
      script: './scripts/ci/test-burstjs.sh'
    - # parallel run
      name: "Bundle BurstJS"
      script: './scripts/ci/bundle-burstjs.sh'
    - # parallel run
      name: "Run Angular Tests"
      script: './scripts/ci/test-ng.sh'
    - stage: desktop-build
      name: "Build Desktop App"
      script: './scripts/ci/build-electron.sh'
    - stage: desktop-deploy
      name: "Build and Deploy Desktop App"
      script: './scripts/ci/release-desktop.sh --publish'
    - stage: force-deploy
      name: "Forced Build and Deploy Desktop App"
      script: './scripts/ci/release-desktop.sh --publish'
    - stage: nightly-release
      name: "Nightly Release of Desktop App"
      script: './scripts/ci/nightly-desktop.sh'

stages:
  - prepare
  - name: desktop-build
    if: type!=cron OR tag!~/^desktop-\d+\.\d+\.\d+/ OR branch!~/^force-deploy/
  - name: desktop-deploy
    if: tag=~/^desktop-\d+\.\d+\.\d+/
  - name: force-deploy
    if: branch=~/^force-deploy/
  - name: nightly-release
    if: branch=develop AND type=cron
