:host {

  .centered {
    display: flex;
    justify-content: center;
  }

  img {
    opacity: 0.6;
  }

  .title {
    margin: 0;
  }

  .passphrase-hint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;

    .hint {
      padding: 8px 0 8px 8px;

      mat-icon {
        width: 48px;
        height: 48px;
        font-size: 48px;
      }

    }

    .hint-help-text {
      display: flex;
      flex-direction: column;
      padding: 0 16px 16px 16px
    }

  }

  .table {
    &__label {
      font-weight: bold;
    }

    &__text {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 100;
    }
  }

  td {
    padding: 10px 0;
    text-align: left;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    button {
      margin: 0.5rem;
    }
  }

  @media screen and (max-width: 768px) {
    .buttons {
      display: flex;
      flex-direction: column;
    }
  }


  .icon-button {
    box-shadow: none;
    min-width: 0;
    line-height: 28px;
    padding: 0 10px;
    margin-left: 4px;
  }

  .copy-icon {
    font-size: 14px;
  }

  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .bordered {
    padding: 4px;
    border: 1px #E0E0E0 solid;
  }

  .navigation {
    margin: 10px;
  }

  mat-icon {
    &.is-verifying {
      animation: rotate 1s linear infinite;
      color: grey !important;
    }

    &.not-verified {
      color: darkred !important;
    }

    &.verified {
      color: darkgreen !important;
    }
  }


}
