mat-form-field {
    width: 100%;
    display: block;
}

form {
    margin:20px 0;
}

.submit-qr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.paid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 240px;
  mat-icon {
    color: green;
    font-size: 180px;
    width: auto;
    height: auto;
  }
}
