<app-page title="{{ 'settings' | i18n }}" [wide]="true">
  <div class="p-20" fxLayout="column">
    <mat-tab-group>
      <mat-tab label="{{ 'settings_node' | i18n }}">
        <settings-node-selector></settings-node-selector>
      </mat-tab>
      <mat-tab label="{{ 'desktop' | i18n }}">
        <settings-desktop></settings-desktop>
      </mat-tab>
      <mat-tab label="{{ 'danger_zone' | i18n }}">
        <settings-danger-zone></settings-danger-zone>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-page>
