<app-page title="{{ 'settings' | i18n }}" >
  <div class="p-24" fxLayout="column">
    <h1> Settings Go here </h1>
<!--    <mat-form-field>-->
<!--      <input type="text" placeholder="{{ 'select_node' | i18n }}" matInput-->
<!--             [formControl]="selectedNode" [matAutocomplete]="auto">-->
<!--      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayNodeUrl">-->
<!--        <mat-option *ngFor="let node of nodes" [value]="node">-->
<!--          {{node.url}}-->
<!--          <small>{{node.version}}</small>-->
<!--        </mat-option>-->
<!--      </mat-autocomplete>-->
<!--    </mat-form-field>-->
  </div>
</app-page>
