@import "src/@fuse/scss/fuse";

:host {

  mat-icon.isFetching {
    animation: rotate 1s linear infinite;
  }

  .node-selector {
      display: block;

    .version-info {
      text-align: right;
      width: 20% !important;
    }

    .error-icon {
      color: darkred;
    }

    .ok-icon {
      color: darkgreen;
    }

    &__automatic{
      display: flex;
      flex-direction: column;

      .selected {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        div {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }

    &__manual {
      display: flex;
      flex-direction: column;


      .button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint('xs') {
          flex-direction: column;
          margin-top: 12px;
          justify-content: normal;
        }

        .unfeatures {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        button {
          @include media-breakpoint('xs') {
            margin-top: 12px;
          }
        }
      }
    }
  }
}
