<app-page title="{{ 'set_account_info' | i18n }}">
  <div class="account-info pl-20 pr-20 mb-8">
    <div class="account-info__field">
      <small class="secondary-text text-uppercase">{{'account'| i18n}}</small>
      <p class="pb-8">{{account.accountRS}}</p>
    </div>
    <div class="w-120">
      <mat-form-field>
        <mat-select [formControl]="formatType"
                    placeholder="{{'type' | i18n}}"
        >
          <mat-option *ngFor="let type of formatTypeOptions" value="{{type}}">{{type | i18n}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="p-20 pt-8">
    <form (ngSubmit)="onSubmit($event);" #setAccountInfoForm="ngForm">
      <mat-form-field>
        <input matInput
               name="name"
               placeholder="{{ 'name' | i18n }}"
               [(ngModel)]="name"
               [disabled]="immutable"
        >
      </mat-form-field>

      <ng-container *ngIf="formatType.value === 'src44'">
        <app-src44-description-form [name]="name" [(description)]="description"></app-src44-description-form>
      </ng-container>
      <ng-container *ngIf="formatType.value === 'json'">
        <app-custom-description-form [(description)]="description"
                                     [disabled]="immutable"></app-custom-description-form>
      </ng-container>
      <ng-container *ngIf="formatType.value === 'custom'">
        <app-custom-description-form [(description)]="description"
                                     [disabled]="immutable"></app-custom-description-form>
      </ng-container>

      <ng-container *ngIf="!immutable">

        <app-fee-input [type]="txType"
                       [subtype]="txSubtype"
                       [(feeSigna)]="fee"
                       [payloadLength]="getPayloadLength()"
        >
        </app-fee-input>

        <app-submit-transaction [disabled]="!canSubmit()"
                                [isSubmitting]="isSending"
                                (pinChange)="setPin($event)"></app-submit-transaction>
      </ng-container>
    </form>

  </div>
</app-page>
