<app-page title="{{ 'set_account_info' | i18n }}">
  <div class="account-info pl-20 pr-20 mb-8">
    <div class="account-info__field">
      <small class="secondary-text text-uppercase">{{'account'| i18n}}</small>
      <p class="pb-8">{{account.accountRS}}</p>
    </div>
  </div>

  <div class="p-24">
    <form (ngSubmit)="onSubmit($event);" #setAccountInfoForm="ngForm">
      <mat-form-field>
        <input matInput
               name="name"
               placeholder="{{ 'name' | i18n }}"
               [(ngModel)]="name"
               [disabled]="immutable"
        >
      </mat-form-field>

      <mat-tab-group>
        <mat-tab label="{{ 'standard_descriptor' | i18n }}">
          <app-src44-description-form [(description)]="description" [disabled]="immutable"></app-src44-description-form>
        </mat-tab>
        <mat-tab label="{{ 'custom_descriptor' | i18n }}">
          <app-custom-description-form [(description)]="description" [disabled]="immutable"></app-custom-description-form>
        </mat-tab>
      </mat-tab-group>

      <ng-container *ngIf="!immutable">

        <app-fee-input [type]="txType"
                       [subtype]="txSubtype"
                       [(feeSigna)]="fee"
                       [payloadLength]="getPayloadLength()"
        >
        </app-fee-input>

        <app-submit-transaction [disabled]="!canSubmit()"
                                [isSubmitting]="isSending"
                                (pinChange)="setPin($event)"></app-submit-transaction>
      </ng-container>
    </form>

  </div>
</app-page>
