<ng-container *ngIf="isLoading">
  <div class="skeleton-loader">
    <ngx-skeleton-loader count="3" [theme]="{height: '32px', 'margin-top':'1rem'}"></ngx-skeleton-loader>
  </div>
</ng-container>

<ng-container *ngIf="!isLoading">
  <div fxFlex fxLayout="row" fxFlexAlign="center" class="grey-700-fg fullwidth">
    <div class="pr-8 price-indicator" [ngClass]="{bg_green: !isChangeNegative(), bg_red: isChangeNegative()}">
      <div>{{get24hChange()}}</div>
    </div>
    <div fxFlex fxLayout="column">
      <small>{{'price' | i18n}}</small>
      <div class="info-row">
        <div class="font-weight-600">{{getPriceSats()}} SATS</div>
        <div>{{getPriceUsd()}}</div>
        <div>{{getPriceEur()}}</div>
      </div>

      <hr class="line"/>

      <small>{{'volume_24h' | i18n}}</small>
      <div class="info-row">
        <div>{{get24hVolumeBtc()}}</div>
        <div>{{get24hVolumeUsd()}}</div>
        <div>{{get24hVolumeEur()}}</div>
      </div>
    </div>
  </div>

</ng-container>
