@import "src/@fuse/scss/fuse";
:host {
    .fg_green { 
        color : green !important;
    }
    .fg_red { 
        color : red !important;
    }
    h3 {
        margin:0;
    }

    @include media-breakpoint('lt-md') {
        .mat-list-item{
            margin:20px 0;
        }
    }
}