<p>{{ 'verify_alias_description' | i18n }}</p>
<div class="container">
  <mat-form-field class="input">
    <input matInput type="text"
           placeholder="{{'enter_alias_name' | i18n}}"
           maxlength="100"
           required
           (keyup)="onAliasNameChange($event.target.value)"
    >
    <div class="indicator">
      <mat-icon *ngIf="isVerifying" class="secondary-text loader">
        refresh
      </mat-icon>
      <mat-icon *ngIf="error && !isVerifying" class="error">
        error_outline
      </mat-icon>
      <mat-icon *ngIf="!error && !isVerifying && this.aliasService.aliasName" class="ok">
        check_circle_outline
      </mat-icon>

    </div>
    <mat-hint class="error">{{ error | i18n }}</mat-hint>
  </mat-form-field>
</div>
<div class="text-center navigation">
  <button class="btn-success" mat-raised-button (click)="next()"
          [disabled]="!canProceed()">{{'next' | i18n }}</button>
</div>
