<app-page title="{{ 'transactions' | i18n }}" [full]="true">
  <div class="p-16">

    <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div fxFlex="50">
        <div class="transaction-filter">
          <mat-form-field class="search-form">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'search' | i18n }}" #query>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-form-field>
          <input matInput
                 placeholder="{{ 'from' | i18n }}"
                 [matDatepicker]="pickerFrom"
                 [formControl]="pickerFromField"
                 (dateChange)="applyFilter(this.query.value)">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput
                 placeholder="{{ 'to' | i18n }}"
                 [matDatepicker]="pickerTo"
                 [formControl]="pickerToField"
                 (dateChange)="applyFilter(this.query.value)">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="transactions-table">
      <app-transaction-table [dataSource]="dataSource"
                             [account]="account"
                             [displayedColumns]="columns"
      >

      </app-transaction-table>
    </div>
  </div>
</app-page>
