<app-page title="{{ 'transactions' | i18n }}" [full]="true">
  <div class="p-16">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div>
        <mat-form-field class="search-form">
          <input matInput
                 autocomplete="off"
                 (keyup)="applyFilter($event.target.value)"
                 [formControl]="searchField"
                 placeholder="{{ 'search' | i18n }}"
                 #query
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="search-form">
          <mat-select [formControl]="typesField"
                      placeholder="{{'type' | i18n}}"
                      (selectionChange)="applyFilter()"
          >
            <mat-option *ngFor="let type of typeOptions" value="{{type}}">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput
                 placeholder="{{ 'from' | i18n }}"
                 autocomplete="off"
                 [max]="pickerToField.value"
                 [matDatepicker]="pickerFrom"
                 [formControl]="pickerFromField"
                 (dateChange)="applyFilter()">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput
                 placeholder="{{ 'to' | i18n }}"
                 autocomplete="off"
                 [min]="pickerFromField.value"
                 [max]="today"
                 [matDatepicker]="pickerTo"
                 [formControl]="pickerToField"
                 (dateChange)="applyFilter()">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="search-form">
          <mat-select [formControl]="recipientTypesField"
                      placeholder="{{'address' | i18n}}"
                      (selectionChange)="applyFilter()"
          >
            <mat-option *ngFor="let recipient of recipientTypeOptions"
                        value="{{recipient.k}}">{{recipient.v.toLocaleUpperCase()  }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button
        mat-button
        (click)="resetFilter()"
      >{{'reset' | i18n }}</button>
    </div>

    <div class="transactions-table">
      <app-transaction-table [dataSource]="dataSource"
                             [account]="account"
                             [displayedColumns]="columns"
      >
      </app-transaction-table>
    </div>
  </div>
</app-page>
