<div class="fullwidth">
  <ng-container *ngIf="transactionsDataSource && transactionsDataSource.data.length">
    <app-transaction-table
      [dataSource]="transactionsDataSource"
      [account]="account"
      [paginationEnabled]="false"
      [displayedColumns]="displayedColumns"
    ></app-transaction-table>
    <a class="p-16" fxLayoutAlign="end" [routerLink]="'/transactions'">{{ 'all_transactions' | i18n }}</a>
  </ng-container>
  <ng-container *ngIf="!transactionsDataSource || !account.transactions.length">
    <div>
      {{ 'no_transactions_yet' | i18n }}
    </div>
  </ng-container>
</div>
