<div class="fullwidth">
  <div class="h3 secondary-text mb-8">{{ 'recent_transactions' | i18n }}</div>
  <app-transaction-table *ngIf="transactionsDataSource && transactionsDataSource.data.length"
                         [dataSource]="transactionsDataSource"
                         [account]="account"
                         [paginationEnabled]="false"
  ></app-transaction-table>
  <div *ngIf="!transactionsDataSource || !account.transactions.length">
    <div>
      {{ 'no_transactions_yet' | i18n }}
    </div>
  </div>
  <a *ngIf="transactionsDataSource && transactionsDataSource.data.length"
     class="p-16" fxLayoutAlign="end"
     [routerLink]="'/transactions'">{{ 'all_transactions' | i18n }}</a>
</div>
