:host {

  .fee-selector {
    .__info {
      display: flex;
      align-items: center;

      .pill {
        background: #039be5;
        color: #fff;
        border-radius: 3px;
        padding: 1px 5px;
        line-height: 1.5em;
        font-size: 12px;
      }

      mat-icon {
        padding: 4px 3px;
      }
    }

    .__fees {

      font-size: 12px;
      margin-bottom: 8px;

      em {
        font-style: italic;
        color: #428bca;
        margin-right: 4px;
        font-size: 14px;
      }

      em:hover {
        text-decoration: underline;

        cursor: pointer;
      }
    }
  }

  ::ng-deep {
    .ng5-slider .ng5-slider-pointer {
      background-color: rgb(3 155 229);
      width: 24px;
      height: 24px;
      border-radius: 50%;
      top: -10px;
      filter: drop-shadow(0px 0px 4px grey);
      &::after {
        top: 8px;
        left: 8px;
      }
      &.-active::after{
        background-color: white;
      }
    }
  }
}


