<app-page
  title="{{ 'alias_cancel_sale' | i18n }}"
  [breadcrumbs]="[{label:'aliases' | i18n, path: '/aliases'}]"
  *ngIf="fees && account && alias"
>
  <div class="header pl-20 pr-20 mb-8">
    <div>
      <small class="secondary-text text-uppercase">{{'alias'| i18n}}</small>
      <p>{{alias.aliasName}}</p>
    </div>
    <div>
      <small class="secondary-text text-uppercase">{{'account'| i18n}}</small>
      <p class="pb-8">{{account.accountRS}}</p>
    </div>
  </div>

  <form (ngSubmit)="onSubmit($event)">

    <app-fee-input *ngIf="!immutable"
                   [type]="type"
                   [subtype]="subtype"
                   [(feeSigna)]="fee"
                   [payloadLength]="0"
    >
    </app-fee-input>

    <app-submit-transaction [(pin)]="pin" [disabled]="!canSubmit()" [isSubmitting]="isSending">
    </app-submit-transaction>
  </form>
</app-page>
