<app-page title="{{ 'send_burst' | i18n }}" *ngIf="fees" [wide]="false">
  <div class="account-info pl-20 pr-20 mb-8">
    <div class="account-info__field">
      <small class="secondary-text text-uppercase">{{'account'| i18n}}</small>
      <p class="pb-8">{{account.accountRS}}</p>
    </div>
    <div class="account-info__field">
      <small class="secondary-text text-uppercase">{{'balance_available'| i18n}}</small>
      <p>{{getBalance() | amount }}</p>
    </div>
  </div>
  <mat-tab-group class="pl-20 pr-20">
    <mat-tab label="{{ 'ordinary_payment' | i18n }}">
      <app-send-money-form [fees]="fees" [account]="account"></app-send-money-form>
    </mat-tab>
    <mat-tab label="{{ 'multi_out_payment' | i18n }}">
      <app-send-multi-out-form [fees]="fees" [account]="account"></app-send-multi-out-form>
    </mat-tab>
  </mat-tab-group>
</app-page>
