<div class="fullwidth position-relative pt-8" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start"
     [formGroup]="form">

  <mat-form-field>
    <mat-label>{{ 'name' | i18n }}</mat-label>
    <input matInput
           maxlength="24"
           placeholder="{{ 'name' | i18n }}"
           formControlName="name"
           [disabled]="disabled"
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'account_id' | i18n }}</mat-label>
    <input matInput
           maxlength="24"
           placeholder="{{ 'enter_account_id' | i18n }}"
           formControlName="account"
           [disabled]="disabled"
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'homepage' | i18n }}</mat-label>
    <input matInput
           minlength="3"
           maxlength="128"
           placeholder="{{ 'enter_url' | i18n }}"
           formControlName="homepage"
           [disabled]="disabled"
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'alias_ref' | i18n }}</mat-label>
    <input matInput
           minlength="3"
           maxlength="100"
           placeholder="{{ 'enter_alias_ref' | i18n }}"
           formControlName="alias"
           [disabled]="disabled"
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'description' | i18n }}</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              maxlength="380"
              placeholder="{{ 'description' | i18n }}"
              formControlName="desc"
              [disabled]="disabled"
    >
    </textarea>
  </mat-form-field>

  <span *ngIf="src44ErrorMsg" class="error-text">{{src44ErrorMsg}}</span>
</div>
