@import "src/@fuse/scss/fuse";

toolbar {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;
  background-color: white;

  &.below {
    z-index: 2;
  }

  .testnet-stamp {
    position: absolute;
    left: calc(50% - 60px);
    color: #D23;
    border: 0.5rem double #D23;
    -webkit-mask-position: 2rem 3rem;
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    border-radius: 1rem;
    font-family: 'Courier', serif;
    -webkit-mask-image: url('../../../../assets/images/stamp_texture.png');
    -webkit-mask-size: 256px 256px;
    mix-blend-mode: multiply;
  }
}

.mat-toolbar {
  position: relative;
  background: inherit !important;
  color: inherit !important;
}

.logo {
  display: flex;
  align-items: center;

  .logo-icon {
    width: 38px;
  }
}

fuse-search-bar,
.action-button,
{
  min-width: 64px;
  height: 64px;

  @include media-breakpoint('xs') {
    height: 56px;
  }
}

.navbar-toggle-button {
  min-width: 56px;
  height: 56px;
}

.toolbar-separator {
  height: 64px;
  width: 1px;

  @include media-breakpoint('xs') {
    height: 56px;
  }
}

.username mat-icon {
  position: relative;
  top: 6px;
  margin-right: 8px;
  line-height: 12px;
}


.mat-menu-panel {
  max-width: fit-content !important;
}

.account-type-icon {
  color: #c2c2c2 !important;
}

.mat-menu-content {
  .manage-accounts {
    font-weight: bold;
  }
}
