@mixin toolbar-theme($theme) {

    $foreground: map-get($theme, foreground);

    toolbar {
      position: sticky;
      top: 0;
        .toolbar-separator {
            background: map-get($foreground, divider);
        }
    }
}
