<mat-toolbar *ngIf="selectedProfile" class="p-0 mat-elevation-z1">

  <div *ngIf="!isMainNet" class="testnet-stamp">TestNet</div>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

      <button mat-icon-button class="action-button"
              *ngIf="!hiddenNavbar && !rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>

      <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

      <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
        <div class="logo ml-16">
          <img class="logo-icon" src="assets/images/logos/icon_white.svg" alt="White Signum Logo">
        </div>
      </div>

      <div class="px-8 px-md-16">
        <fuse-shortcuts [navigation]="navigation"></fuse-shortcuts>
      </div>

      <button mat-button [matMenuTriggerFor]="profileMenu" class="action-button">
        <span fxLayout="row" fxLayoutAlign="center center" matTooltip="{{'select_profile' | i18n}}">
          <mat-icon class="secondary-text">{{selectedProfile.icon}}</mat-icon>
          <mat-icon class="s-16">keyboard_arrow_down</mat-icon>
        </span>
      </button>

      <mat-menu #profileMenu="matMenu" [overlapTrigger]="false">
        <button *ngFor="let profile of profiles" mat-menu-item (click)="setProfile(profile.name)"
                matTooltip="{{profile.description | i18n}}">
                  <span class="profile mr-12">
                    <mat-icon class="profile-type-icon">{{profile.icon}}</mat-icon>
                    {{profile.name | i18n}}
                  </span>
        </button>
      </mat-menu>
    </div>

    <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

      <button mat-button [matMenuTriggerFor]="userMenu"
              class="action-button">
        <div fxLayout="row h-64" fxLayoutAlign="center center">
          <app-account-selector-item [account]="selectedAccount"></app-account-selector-item>
          <mat-icon class="s-16">keyboard_arrow_down</mat-icon>
        </div>
      </button>

      <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item class="manage-accounts" routerLink="/accounts">
          <mat-icon>people</mat-icon>
          <span>{{"manage_accounts" | i18n}}</span>
        </button>
        <mat-divider></mat-divider>
        <button *ngFor="let account of accounts" mat-menu-item (click)="selectAccount(account)">
              <app-account-selector-item [account]="account"></app-account-selector-item>
        </button>
      </mat-menu>

      <div class="toolbar-separator"></div>

      <button *ngIf="languageName" mat-button
              class="action-button"
              [matMenuTriggerFor]="languageMenu">
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="iso text-uppercase" fxHide fxShow.gt-md>{{languageName}}</span>
          <span class="iso text-uppercase" fxHide.gt-md>
                      <mat-icon class="secondary-text">language</mat-icon>
                    </span>
        </div>
      </button>

      <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <span class="iso">{{lang.name}}</span>
                    </span>
        </button>
      </mat-menu>

      <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>

      <button mat-icon-button class="action-button"
              *ngIf="!hiddenNavbar && rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>

    </div>

  </div>

</mat-toolbar>
