<section class="login">
  <div class="login__panel">
    <div class="login__header">
      <a [routerLink]="[ '' ]">
        <img alt="Burst logo" class="login__logo" src="assets/images/logos/logo_blue.png"/>
      </a>
      <small class="login__version">"Phoenix" Wallet ({{version}})</small>
    </div>
    <div class="login__body">
      <h1 class="login__title">Get your free Burst account now.</h1>
      <p class="login__info">Are you a new user? Create a new account and became a new Burst member.</p>
      <div class="login__actions">
        <a class="login__link--yes" [routerLink]="[ '/login/active' ]" [queryParams]="{ newUser: true }">Yes, I'm a new user</a>
        <a class="login__link--no" [routerLink]="[ '/login/active' ]" >No, I have an account</a>
        <p class="login__divider">or</p>
        <a class="login__link--default" [routerLink]="[ '/login/passive' ]" >Create a new account without passphrase</a>
      </div>
    </div>
  </div>
  <div class="login__background" id="login-particles"></div>
</section>
