<div class="content-container">
  <app-watermark></app-watermark>
  <div class="logo">
    <img src="assets/images/logos/logo_white.svg" alt="Signum Logo">
  </div>
  <h1>{{'welcome_to_wallet' | i18n}}
    <small class="version">{{version}}</small>
  </h1>
  <div class="content">
    <div class="login__body">
      <h1 class="login__title">{{ 'get_burst_account' | i18n }}</h1>
      <p class="login__info">{{ 'new_user_text' | i18n }}</p>
      <div class="login__actions">
        <a class="login__link--new" [routerLink]="[ '/login/active' ]"
           [queryParams]="{ newUser: true }">{{ 'account_create_new' | i18n }}</a>
        <p class="login__divider">{{ 'or' | i18n }}</p>
        <a class="login__link--existing" [routerLink]="[ '/login/active' ]">{{ 'account_import_short' | i18n }}</a>
        <a class="login__link--existing" [routerLink]="[ '/login/passive' ]">{{ 'account_watch_short' | i18n }}</a>
      </div>
    </div>
  </div>
</div>
