<div class="p-16" fxLayout="column wrap" fxFlexAlign="center">
  <div class="pb-16" fxFlex="60">
    <div class="h3 secondary-text">{{ 'balance' | i18n }}</div>
    <div fxLayout="row" fxLayoutAlign="start baseline">
      <div class="pr-16 secondary-text">
        BURST
      </div>
      <div [ngClass.gt-md]="'font-size-50'" class="font-size-30 font-weight-300 line-height-1">
        {{ convertNQTStringToNumber(account.balanceNQT) | number: '1.0-6':this.language }}
      </div>
    </div>
  </div>
  <div fxFlex="40" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start baseline">
      <div class="pr-16 secondary-text">
        BTC
      </div>
      <div [ngClass.gt-md]="'font-size-24'" class="font-size-16 font-weight-300 mt-8">
        {{ convertBalanceInBtc(account.balanceNQT) | number: '1.0-6':this.language }}
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start baseline">
      <div class="pr-16 secondary-text">
        USD
      </div>
      <div [ngClass.gt-md]="'font-size-24'" class="font-size-16 font-weight-300 mt-8">
        {{ convertBalanceInUsDollar(account.balanceNQT) | number: '1.2-2':this.language }}
      </div>
    </div>
  </div>
</div>
