<h2>{{ 'transaction_info' | i18n: { id: data.transaction.id } }}</h2>
<mat-tab-group>
  <mat-tab label="{{ 'info' | i18n }}">
      <table class="info table">
        <tr *ngFor="let row of getInfoData()">
          <th>{{ row[0] | i18n }}</th>
          <td><app-transaction-row-value-cell [value]="row[1]" [key]="row[0]"></app-transaction-row-value-cell></td>
        </tr>
      </table>
  </mat-tab>
  <mat-tab label="{{ 'actions' | i18n }}">
    Coming soon
  </mat-tab>
  <mat-tab label="{{ 'transaction_details' | i18n }}">
      <table class="info table">
        <tr *ngFor="let row of getDetailsData()">
          <th>{{ row[0] | i18n }}</th>
          <td><app-transaction-row-value-cell [value]="row[1]" [key]="row[0]"></app-transaction-row-value-cell></td>
        </tr>
      </table>
  </mat-tab>
</mat-tab-group>