# See http://help.github.com/ignore-files/ for more about ignoring files.

node_modules/

# compiled output
release-builds/
dist/

# System Files
Thumbs.db
*.log
.keys

# arbitrary
build-and-sign-win32.sh
sign-win32.sh

