#balance-diagram-charts-wrapper {
  display: flex;
  flex-direction: column;

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .right-container {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      mat-checkbox {
        font-size: 12px;
      }

      mat-form-field {
        width: 80px;
        font-size: 12px
      }
    ;
    }
  }
}
