#balance-diagram-charts-wrapper {
  display: flex;
  flex-direction: column;

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    mat-form-field{
      width: 80px;
      font-size: 12px
    };
  }
}
