mat-form-field {
    width: 100%;
    display: block;
}

form {
    margin:20px 0;
}

.submit-qr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.paid-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-icon {
    width: auto;
    height: auto;
    font-size: 120px;
  }
  .paid {
    color: green;
  }
  .rotate {
    color: grey;
    animation: rotate 1s linear infinite;
  }

}
