<div *ngIf="layoutParameters" class="p-16">
  <mat-grid-list [cols]="layoutParameters.columnCount"
                 rowHeight="32px"
                 gutterSize="16px"
                 >
    <mat-grid-tile
      [colspan]="layoutParameters.columnSpans.chart"
      [rowspan]="layoutParameters.rowSpans.chart">
      <mat-card>
        <app-balance-chart
          [account]="account"
          [priceBtc]="priceBtc"
          [priceUsd]="priceUsd"
          [priceEur]="priceEur"
        ></app-balance-chart>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="layoutParameters.columnSpans.balance"
      [rowspan]="layoutParameters.rowSpans.balance">
      <mat-card>
        <app-balance [account]="account"></app-balance>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
