<app-page title="{{ 'peers' | i18n }}" [full]="true">
  <div class="p-24">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="announcedAddress">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'address' | i18n }}</mat-header-cell>
        <mat-cell *matCellDef="let peer">
          {{ peer.announcedAddress }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="downloadedVolume">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'downloaded' | i18n }}
        </mat-header-cell>
        <mat-cell *matCellDef="let peer">
          {{ convertMibiByte(peer.downloadedVolume) | number:'1.0-2': locale }} MiB
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastUpdated">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'updated' | i18n }}
        </mat-header-cell>
        <mat-cell *matCellDef="let peer">
          {{convertTimestampToDate(peer.lastUpdated) | timeAgo}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="uploadedVolume">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'uploaded' | i18n }}
        </mat-header-cell>
        <mat-cell *matCellDef="let peer">
          {{ convertMibiByte(peer.uploadedVolume) | number:'1.0-2': locale }} MiB
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="version">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'version' | i18n }}
        </mat-header-cell>
        <mat-cell *matCellDef="let peer">
          <div [class]="getVersionClass(peer)">
              <span>{{ peer.version || '???'}}</span>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="platform">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'platform' | i18n }}
        </mat-header-cell>
        <mat-cell *matCellDef="let peer">
          {{ peer.platform }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</app-page>
