<h2>
    {{"define_your_pin" | i18n}}
</h2>
<div class="pin-container">
    <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="{{'enter_pin' | i18n}}" [(ngModel)]="pin">
    </mat-form-field>
</div>
<small>
   {{"pin_hint" | i18n }}
</small>
<div class="text-center navigation">
    <button class="btn-danger" mat-raised-button (click)="back()">{{"back" | i18n }}</button>
    <button *ngIf="lastStep" class="btn-success" mat-raised-button (click)="finish()" disabled="{{!isValid}}">{{"finish" | i18n }}</button>
    <button *ngIf="!lastStep" class="btn-success" mat-raised-button (click)="next()" disabled="{{!isValid}}">{{"next" | i18n }}</button>
</div>
