<h2>
    Set your Pin!
</h2>
<div class="pin-container">
    <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Pin" [(ngModel)]="pin">
        <mat-hint>Required</mat-hint>
    </mat-form-field>
</div>
<small>
    Enter a pin to secure your account. The pin is used to verify actions made with your account.
</small>
<div class="text-center navigation">
    <button class="btn-danger" mat-raised-button (click)="back()">Back</button>
    <button class="btn-success" mat-raised-button (click)="finish(pin)">Finish</button>
</div>
