:host {

  mat-header-cell,
  mat-header-cell > button
  {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase !important;
  }

  .mat-table {
    overflow: auto;
    max-height: 600px;
  }

  .price-change {
    padding: 0.25rem 1rem;
    border-radius: 8px;
  }

  .trend-up {
    background: #CDFFCD;
    color: #007F00;
  }

  .trend-down {
    background: #FFE0E0;
    color: #D30000;
  }

  .trend-flat {
    background: #E0E0E0;
    color: grey;
  }

  .smaller {
    font-size: 80%;
  }

  .stacked {
    display: flex;
    flex-direction: column;
  }

  .mat-column-actions {
    flex: 0 1 64px;
  }

  .wrapper {
    background-color: white;
  }

  .skeleton {
    width: 80%;
    padding-top: 0.5rem;
  }

  .btdex-hint {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-bottom: 0.25rem;
    padding: 0.5rem;
  }
}
