<h2>
  {{"confirm_passphrase" | i18n}}
</h2>
<div class="activate-container">
  <mat-chip-list>
    <mat-chip *ngFor="let token of this.randomizedTokens"
              [ngClass] = "{'green-bg': token.ok === true, 'red-bg': token.ok === false}"
              (click)="confirm($event)"
    >
      {{token.text}}
    </mat-chip>
  </mat-chip-list>
  <mat-form-field class="passphrase-input">
    <input matInput placeholder="{{'click_words' | i18n}}" readonly [ngModel]="passphrase">
  </mat-form-field>
</div>
<small>
  {{"activate_hint" | i18n }}
</small>
<div class="text-center navigation">
  <button class="btn-danger" mat-raised-button (click)="back()">{{"back" | i18n }}</button>
  <button class="btn-danger" mat-raised-button (click)="reset()">{{"try_again" | i18n }}</button>
  <button class="btn-success" mat-raised-button (click)="activate()" disabled="{{!isValid}}">{{"activate" | i18n }}</button>
</div>
