:host {
  .link-button {
    background-color: #039be5;
    color: white;
    font-size: 12px;
    text-decoration: none !important;
    padding: 0.5rem 1rem;
    border-radius: 24px;

    &:hover {
      text-decoration: none !important;
      background-color: lighten(#039be5, 2);
      transition: background-color 100ms ease-in-out;
    }
  }
}
