<form (ngSubmit)="onSubmit($event)">
  <recipient-input [recipientValue]="recipient.addressRaw"
                   (recipientChange)="onRecipientChange($event)"
                   [disabled]="immutable"
                   withQrCode="{{false}}"
  >
  </recipient-input>

  <app-amount-input [maxAmount]="token.balance"
                    [symbol]="token.name"
                    [(amount)]="quantity"
                    [disabled]="immutable">
  </app-amount-input>

  <app-fee-input *ngIf="!immutable"
                 [type]="type"
                 [subtype]="subtype"
                 [(feeSigna)]="fee"
                 [payloadLength]="message ? message.length : 0"
  >
  </app-fee-input>

  <mat-checkbox labelPosition="before"
                [disabled]="immutable"
                [(ngModel)]="showMessage"
                name="showMessage">{{ "add_message_q" | i18n }}</mat-checkbox>
  <ng-container *ngIf="showMessage">
    <app-message-input
      [disabled]="immutable"
      [(message)]="message"
      [(isText)]="messageIsText"
      [(encrypt)]="encrypt"
      [canEncrypt]="canEncrypt()"
    >
    </app-message-input>
  </ng-container>


  <app-submit-transaction [disabled]="!canSubmit()"
                          [isSubmitting]="isSubmitting"
                          [(pin)] = "pin"
  >
  </app-submit-transaction>
  <div class="inlined">
    <div class="total">
      <strong>{{'total' | i18n}}:&nbsp;</strong>
      <span [class.error-text]="!hasSufficientQuantity()">{{this.token.name}} {{ this.getQuantity() }} </span>
      <small [class.error-text]="!hasSufficientBalance()">{{ this.fee | amount:'signa'}}</small>
    </div>
    <div>
      <span class="error-text">{{getErrorHint()}}</span>
    </div>
  </div>
</form>
