<ng-container *ngIf="isLoading">
  <div class="skeleton-loader">
    <ngx-skeleton-loader count="1" [theme]="{height: '32px', 'margin-top':'1rem'}"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
  </div>
</ng-container>

<ng-container *ngIf="!isLoading">
  <mat-list>
    <mat-list-item>
      <div matLine fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
        <h3 class="font-weight-700">
          {{"price" | i18n}} SATS
        </h3>
        <div>
          {{getPriceSats()}}
        </div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div matLine fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
        <h3 class="font-weight-700">
          {{"price" | i18n}} USD
        </h3>
        <div>
          {{getPriceUsd()}}
        </div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div matLine fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
        <h3 class="font-weight-700">
          {{"volume_24h" | i18n}}
        </h3>
        <div>
          {{get24hVolume()}}
        </div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div matLine fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
        <h3 class="font-weight-700">
          {{"market_capitalization" | i18n}}
        </h3>
        <div>
          {{getMarketCap()}}
        </div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div matLine fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
        <h3 class="font-weight-700">
          {{"yesterdays_change" | i18n}}
        </h3>
        <div [ngClass]="{fg_green: !isChangeNegative(), fg_red: isChangeNegative()}">
          {{getYesterDaysChange()}}
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</ng-container>
