<app-page [title]="'block_details' | i18n"
          [subtitle]="block.block"
          [breadcrumbs]="[{label:'blocks' | i18n, path: '/blocks'}]"
          [wide]="true"
>
  <div class="info table">
    <div class="explorer-link" matTooltip="{{'show_in_explorer' | i18n}}" (click)="openExplorer()">
      <mat-icon>link</mat-icon>
    </div>
    <div class="row" *ngFor="let row of detailsData; trackBy: trackRows">
      <div class="label">{{row.l | i18n}}</div>
      <div class="value">
        <app-block-row-value-cell
          [value]="row.v"
          [block]="block">
        </app-block-row-value-cell>
      </div>
    </div>
  </div>
</app-page>
