<div class="sidenav-header" *ngIf="options">
  <mat-toolbar class="accent">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div>Options</div>
      <button mat-icon-button fuseMatSidenavToggler="message-right-sidenav" aria-label="close">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="sidenav-content py-32 px-24" fxFlex fxLayout="column" *ngIf="options">
  <div class="mat-form-field">
    <mat-form-field class="fullwidth">
      <input matInput
             [(ngModel)]="feeBurst"
             name="feeBurst"
             placeholder="{{ 'fee' | i18n }}">
      <label matPrefix>{{CurrencySymbol}}&nbsp;</label>
    </mat-form-field>
  </div>

  <div class="mat-form-field">
    <app-fee-selector [fees]="fees" [(fee)]="feeBurst"></app-fee-selector>
  </div>

  <div class="mat-form-field mt-16">
    <mat-checkbox [(ngModel)]="encrypt">{{ "encrypt_message" | i18n }}</mat-checkbox>
  </div>
</div>
