<!-- SIDENAV HEADER -->
<div class="sidenav-header" *ngIf="options">

    <!-- CONTACT TOOLBAR -->
    <mat-toolbar class="accent">

        <!-- TOOLBAR TOP -->
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">

            <div>Options</div>

            <button mat-icon-button fuseMatSidenavToggler="message-right-sidenav" aria-label="close">
                <mat-icon>close</mat-icon>
            </button>

        </mat-toolbar-row>
        <!-- / TOOLBAR TOP -->

    </mat-toolbar>
    <!-- / CONTACT TOOLBAR -->
</div>

<!-- SIDENAV CONTENT -->
<div class="sidenav-content py-32 px-24" fxFlex fxLayout="column" *ngIf="options">

    <label>Fee</label>
    <mat-slider min="{{options.fees.cheap}}" max="{{options.fees.priority}}" step="0.05" value="{{options.fees.standard}}"></mat-slider>

</div>
