mat-form-field {
  width: 100%;

  .container {
    width: fit-content;
  }

  .badge {
    font-size: 12px;
    border-radius: 4px;
    padding: 2px 8px;
    align-items: center;
    justify-content: center;

    &.invalid {
      background: darkorange;
    }

    &.valid {
      color: white;
      background: #00b386;
    }

    &.unknown {
      background: lightgray;
    }

    mat-icon {
      margin: 0;
      padding: 0 0 0 4px;
      min-height: 8px;
      min-width: 8px;
      width: 16px;
      height: 16px;
      font-size: 16px;
    }
  }

  .recipient-address {
    position: relative;
    color: darkgray;
    font-size: 10px;
    margin: 0 2px 0 0;
    word-break: normal;
    hyphenate-character: "-";
  }

}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + .camera-icon {
  margin-left:10px;
  font-size: 1.25em;
  font-weight: 700;
  color: #666;
  display: inline-block;
  cursor: pointer; 
}

.inputfile:focus + .camera-icon,
.inputfile + .camera-icon:hover {
  color: black;
}

.inputfile:focus + .camera-icon {
  outline: 1px dotted #666;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + .camera-icon * {
  pointer-events: none;
}