<div id="dashboard" class="page-layout blank">

    <div class="content">

        <div class="widget auto-width">
            <strong>Example:</strong>
            {{ selectedAccount.address }}
            {{ selectedAccount.accountId }}
        </div>

        <div class="mr-lg-32" fxFlex="100">

            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

                <div class="widget" fxFlex="100" fxFlex.gt-sm="40" fxFlex.gt-md="50">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Balance</div>
                                <div [ngClass.gt-md]="'font-size-54'" class="font-size-30 font-weight-300 line-height-1 mt-8">
                                    164,033.0334
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget" fxFlex="100" fxFlex.gt-sm="30" fxFlex.gt-md="25">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Blocks Forged</div>
                                <div [ngClass.gt-md]="'font-size-54'" class="font-size-30 font-weight-300 line-height-1 mt-8">
                                    420
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget" fxFlex="100" fxFlex.gt-sm="30" fxFlex.gt-md="25">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Assets Owned</div>
                                <div [ngClass.gt-md]="'font-size-54'" class="font-size-30 font-weight-300 line-height-1 mt-8">
                                    120
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Recent Transactions</div>
                                Table goes here
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Latest Blocks</div>
                                Table goes here
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>