<div class="page-layout blank simple" fusePerfectScrollbar *ngIf="fees">

  <div class="header accent p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">

      <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
          <div fxLayout="row" fxLayoutAlign="start center">
              <a [routerLink]="['/dashboard']"><mat-icon class="secondary-text s-18">home</mat-icon></a>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span class="secondary-text">{{ 'set_reward_recipient' | i18n }}</span>
          </div>
          <div class="h1 mt-16">{{ 'set_reward_recipient' | i18n }}</div>
      </div>
  </div>

  <div class="p-24 content">

    <form (ngSubmit)="onSubmit($event);" #setRewardRecipientForm="ngForm">

      <burst-recipient-input appearance="outline" (recipientChange)="onRecipientChange($event)"></burst-recipient-input>

      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="fee" name="fee" placeholder="{{ 'fee' | i18n }}">
        <label matSuffix>BURST</label>
      </mat-form-field>

      <burst-fee-selector [fees]="fees" [(fee)]="fee"></burst-fee-selector>

      <mat-form-field class="pin" appearance="outline">
        <input type="password" matInput [(ngModel)]="pin" name="pin" placeholder="Your PIN">
      </mat-form-field>

      <div *ngIf="advanced">
        <mat-form-field appearance="outline">
          <label>{{ 'deadline_hours' | i18n }}</label>
          <input matInput [(ngModel)]="deadline" name="deadline" placeholder="{{ 'deadline_hours' | i18n }}">
        </mat-form-field>

        <mat-checkbox [(ngModel)]="broadcast" name="broadcast" disabled>{{ "do_not_broadcast" | i18n }}</mat-checkbox>

      </div>
    </form>

    <a (click)="advanced=!advanced"><em>{{ advanced ? "basic" : "advanced" | i18n }}</em></a>
    <br /><br />

    <button type="submit" class="mr-8" mat-raised-button mat-button color="primary" (click)="onSubmit($event)">{{ "set_reward_recipient" | i18n }}</button>
  </div>
</div>
