<app-page title="{{ 'set_reward_recipient' | i18n }}" *ngIf="fees" [wide]="true">
  <div class="account-info pl-20 pr-20 mb-8">
    <div class="account-info__field">
      <small class="secondary-text text-uppercase">{{'account'| i18n}}</small>
      <p class="pb-8">{{account.accountRS}}</p>

    </div>
    <div *ngIf="rewardRecipient">
      <p>{{rewardRecipient.accountRS}}</p>
      <p>{{rewardRecipient.name}}</p>
      <p>{{rewardRecipient.description}}</p>
    </div>
  </div>

  <div class="pl-20 pr-20">
    <form (ngSubmit)="onSubmit($event);" #setRewardRecipientForm="ngForm">
      <burst-recipient-input (recipientChange)="onRecipientChange($event)"></burst-recipient-input>

      <burst-fee-selector [fees]="fees" [(fee)]="fee"></burst-fee-selector>

      <div *ngIf="advanced">
        <mat-form-field>
          <label>{{ 'deadline_hours' | i18n }}</label>
          <input matInput [(ngModel)]="deadline" name="deadline" placeholder="{{ 'deadline_hours' | i18n }}">
        </mat-form-field>
        <mat-checkbox [(ngModel)]="broadcast" name="broadcast" disabled>{{ "do_not_broadcast" | i18n }}</mat-checkbox>
      </div>

      <app-submit-transaction [disabled]="canSubmit()"
                              [isSubmitting]="isSending"
                              (pinChange)="setPin($event)"></app-submit-transaction>
    </form>
    <a (click)="advanced=!advanced"><em>{{ advanced ? "basic" : "advanced" | i18n }}</em></a>
  </div>
</app-page>
