@import "src/@fuse/scss/fuse";

:host{
  display: flex;
  align-items: center;
  flex-flow: column;

  .right {
    align-content: center;
    justify-content: flex-end;
    @include media-breakpoint('xs') {
      justify-content: center;

    }
  }
}
