<app-page title="{{ 'set_commitment' | i18n }}" *ngIf="fees && account" [wide]="true">
  <div class="account-info pl-20 pr-20 mb-8">
    <div class="account-info__field">
      <small class="secondary-text text-uppercase">{{'account'| i18n}}</small>
      <p class="pb-8">{{account.account | address}}</p>
    </div>
    <div *ngIf="isSupported" class="account-info__field">
      <small class="secondary-text text-uppercase">{{'applied_commitment'| i18n}}</small>
      <p class="pb-8 "><strong>{{account.committedBalanceNQT | amount:'planck':true}}</strong></p>
    </div>
    <div class="account-info__field">
      <small class="secondary-text text-uppercase">{{'balance_available'| i18n}}</small>
      <p>{{getBalance() | amount }}</p>
    </div>
  </div>
  <div class="pl-20 pr-20">
    <app-set-commitment-form *ngIf="isSupported" [fees]="fees" [account]="account"></app-set-commitment-form>
    <p *ngIf="!isSupported" class="message-box warning">
      {{'commitment_unsupported' | i18n}}
      &nbsp;
      <a [routerLink]="['/settings']">{{'settings' | i18n}}</a>
    </p>
  </div>
</app-page>
