.lock {
    float:right;
}

td {
    border:1px solid #ccc;
    padding:10px;
}

.chip {
    background:#428bca;
    border-radius:3px;
    padding:1px 5px;
    line-height:1.5em;
    font-size:12px;
    margin-right:5px;
}

.chip a {
    color:#fff;
}