:host {

  .encrypted-message {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  td {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .chip {
    background: #428bca;
    border-radius: 3px;
    padding: 1px 5px;
    line-height: 1.5em;
    font-size: 12px;
    margin: 4px 4px 0 0;
  }

  .chip a {
    color: #fff;
  }

  .chip-list {
    max-height: 120px;
    overflow-y: auto;
    flex-wrap: wrap;
    display: flex;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0 4px 4px 4px;
  }

  .data-item {
  }
}
