<div [ngSwitch]="valueType">
  <div *ngSwitchCase="'Message'">{{value.data.message}}</div>
  <div *ngSwitchCase="'EncryptedMessage'">
    <mat-icon class="s-16 lock">lock</mat-icon>
    <div *ngIf="decryptedMessage">{{decryptedMessage}}</div>
    <div *ngIf="!decryptedMessage">
      <mat-form-field>
        <input matInput [(ngModel)]="pin" type="password" name="pin" placeholder="{{ 'input_pin' | i18n }}">
      </mat-form-field>
      <button type="submit" class="mr-8" mat-button color="primary"
      (click)="submitPinPrompt($event)">{{ "submit" | i18n }}</button>
    </div>
  </div>
  <div *ngSwitchCase="'AccountAddress'">
    <a [routerLink]="['/account', convertAddressToNumericId(value.data)]">{{value.data}}</a>
  </div>
  <div *ngSwitchCase="'AccountId'">
    <a [routerLink]="['/account', value.data]">{{value.data}}</a>
  </div>
  <div *ngSwitchCase="'BlockId'">
    <a [routerLink]="['/blocks/block', value.data]">{{value.data}}</a>
  </div>
  <div *ngSwitchCase="'Asset'">
    <table>
      <tr>
        <th>{{ 'asset_name' | i18n }}</th>
        <th>{{ 'quantity' | i18n }} (NQT)</th>
      </tr>
      <tr *ngFor="let v of value.data">
        <td>{{v.asset}}</td>
        <td>{{v.balanceQNT || v.unconfirmedBalanceQNT}}</td>
      </tr>
    </table>
  </div>
  <div *ngSwitchCase="'Transactions'">
      <span *ngFor="let v of value.data" class="transaction chip">
        <a [routerLink]="['/transactions/transaction', v]">{{v}}</a>
      </span>
  </div>
  <div *ngSwitch="'Date'">{{value.data | date:'MMM d, y, h:mm:ss'}}</div>
  <div *ngSwitchDefault>{{value.data | i18n}}</div>
</div>
