<div id="messages" class="page-layout carded fullwidth inner-scroll">

  <div class="top-bg accent"></div>

  <div class="center">
    <div class="content-card">
      <mat-sidenav-container>
        <mat-sidenav class="sidenav" position="start" opened="true" mode="side"
                     fuseMatSidenavHelper="message-left-sidenav" matIsLockedOpen="gt-md">
          <message-left-sidenav></message-left-sidenav>
        </mat-sidenav>
        <message-start *ngIf="!selectedMessage"></message-start>
        <message-view *ngIf="selectedMessage"
                      [feeBurst]="rightSidenav && rightSidenav.options && rightSidenav.options.feeBurst"
                      [encrypt]="rightSidenav && rightSidenav.options && rightSidenav.options.encrypt"
        >
        </message-view>
        <mat-sidenav class="sidenav" position="end" opened="false" mode="over"
                     fuseMatSidenavHelper="message-right-sidenav">
          <message-right-sidenav [fees]="fees"></message-right-sidenav>
        </mat-sidenav>
      </mat-sidenav-container>
    </div>
  </div>

</div>
