@import "src/@fuse/scss/fuse";

:host {
  .account-stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .mat-column-avatar {
    flex: 0 1 48px;
    justify-items: center;

    img {
      border-radius: 4px;
      width: 40px;
      height: 40px;
    }

    @include media-breakpoint('xs') {
      flex: 0 1 36px;
      justify-items: center;

      img {
        border-radius: 4px;
        width: 32px;
        height: 32px;
      }

    }

  }

  .mat-column-actions {
    flex: 0 0 48px;
  }

    .mat-column-delete {
    flex: 0 0 48px;
    @include media-breakpoint('xs') {
      padding-left: 0;
      flex: 0 1 24px;
      justify-items: flex-start;
    }

    .mat-icon.no-button {
      left: -12px;
      position: relative;
    }

    .mat-icon-button.mat-warn {
      left: -20px;
      top: -1px;
      background-color: #FFE0E0;
    }
  }

  .mat-cell:first-of-type,
  .mat-cell:last-of-type {
    padding: 0;
  }

  .select-icon {
    justify-content: center;
  }

}
