<div class="page-layout blank simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header accent p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-18" routerLink="/dashboard">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">{{ 'aliases' | i18n }}</span>
      </div>
      <div class="h1 mt-16">{{ 'aliases' | i18n }}</div>
    </div>

    <a *ngIf="selectedAccount && selectedAccount.type !== 'offline'" mat-raised-button 
      class="reference-button mt-16 mt-sm-0" 
      [routerLink]="['add']">
      <mat-icon class="mr-8">add</mat-icon>
      <span>{{ 'register_alias' | i18n }}</span>
    </a>
  </div>
  <!-- / HEADER -->

  <div class="p-24">

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="aliasName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'alias_name' | i18n }}</mat-header-cell>
        <mat-cell *matCellDef="let alias">
          <span>{{ alias.aliasName }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="aliasURI">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let alias">
          <span>{{ alias.aliasURI }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let alias">
          <span>/</span> <!-- ?? -->
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let alias">
          <button>{{ 'edit' | i18n }}</button> 
          <button>{{ 'transfer' | i18n }}</button> 
          <button>{{ 'sell' | i18n }}</button>
        </mat-cell>
      </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>