:host {
  .action-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  mat-table {
    width: 100%;
  }

  .mat-column-id {
    min-width:150px
  }
  
  .mat-column-name {
    min-width:150px
  }

  .mat-column-decimals {
    min-width:50px
  }

  .mat-column-balance {
    min-width:100px
  }

  .icon {
    font-size:18px;
    margin-left:5px;
  }
}
