<div class="fullwidth position-relative mb-4" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">
  <json-editor [options]="editorOptions"
               [data]="data"
               (change)="onDescriptionChanged($event)"
  ></json-editor>
  <div class="custom-menu">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
      <div *ngIf="isSRC44" matTooltip="{{'src44_compliant' | i18n}}">
        <small class="badge">{{'src44' | i18n}}</small>
      </div>
      <div  matTooltip="{{'accept_json_content' | i18n}}" (click)="commit()" >
        <div class='btn' [class.disabled]="!(isOk && hasChanged)">
          <mat-icon class="secondary-text s-20">save</mat-icon>
          {{'Accept' | i18n}}{{hasChanged ? '*' : ''}}
        </div>
      </div>
    </div>
  </div>
</div>
