/*
div[class^="tsd-page"] {
    background: #1e2129;
    color: rgba(255, 255, 255, .7);
}

a {
    color: rgba(255, 255, 255, .7);
}
*/

.tsd-page-toolbar {
    position: fixed;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.75);
}

.tsd-page-toolbar #tsd-npm-badge {
    height: 24px;
    position: absolute;
    padding: 8px;
}

.github-corner {
    position: fixed;
    z-index: 2;
}


.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
