@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-notifier/styles.scss";
@import "@fuse/scss/core";
@import "app/app.theme";
@import "~jsoneditor/dist/jsoneditor.min.css";

$danger-color: #ff8080;
$success-color: #00cc99;

.btn-danger {
  background: $danger-color;
}

.btn-danger:hover {
  background: darken($danger-color, 5%);
}

.btn-success {
  background: $success-color;
}

.btn-success:hover {
  background: darken($success-color, 5%);
}

.mat-raised-button.btn-danger, .mat-raised-button.btn-success {
  color: #fdfdfd;
  margin: 0 .5rem;
}

.divider {
  border-top-color: #dcdcdc;
}


.mat-dialog-container {
  padding: 0 !important;
}

app-market-overview {
  .mat-list-item {
    height: 43px !important;
  }

  .mat-list-item-content {
    padding: 0 !important;
  }
}

.mat-grid-tile .mat-figure {
  padding: 4px !important;
}

.error-text {
  color: red;
  font-weight: bold;
  animation: pulse 2s infinite;
}

.widget {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.fullwidth {
  width: 100% !important;
}

.fullheight {
  height: 100% !important;
}

.print-hide {
  @media print {
    display: none !important;
  }
}

.print-only {
  display: none;
  @media print {
    display: inherit !important;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.jsoneditor {
  border: thin solid lightgray;
  border-radius: 4px;

  &-menu {
    background-color: #039be5;

  }
}

