@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-notifier/styles.scss";
@import "@fuse/scss/core";
@import "app/app.theme";

$danger-color: #ff8080;
$success-color: #00cc99;

.btn-danger {
  background: $danger-color;
}
.btn-danger:hover {
  background: darken($danger-color, 5%);
}

.btn-success {
  background: $success-color;
}
.btn-success:hover {
  background: darken($success-color, 5%);
}

.mat-raised-button.btn-danger, .mat-raised-button.btn-success {
  color: #fdfdfd;
  margin: 0 .5rem;
}

.divider {
  border-top-color: #dcdcdc;
}

.mat-dialog-container {
  padding: 0 !important;
}

app-market-overview {
  .mat-list-item {
    height:43px !important;
  }
  .mat-list-item-content {
    padding:0 !important;
  }
}

.error-text {
  color: red;
  font-weight: bold;
  animation: pulse 2s infinite;
}

.fullwidth {
  width: 100% !important;
}

.fullheight {
  height: 100% !important;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

