<div class="page-layout blank simple" fusePerfectScrollbar>
  <div class="header accent p-24 h-160 fullwidth">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="fullwidth">
        <div *ngIf="canBack()" class="nav-button" (click)="back()">
          <mat-icon class="secondary-text s-18">arrow_back</mat-icon>
        </div>
        <div>
          <a [routerLink]="['/dashboard']">
            <mat-icon class="secondary-text s-18">home</mat-icon>
          </a>
          <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
          <ng-container *ngFor="let breadcrumb of breadcrumbs">
            <a class="secondary-text nav-label" [routerLink]="[breadcrumb.path]">{{breadcrumb.label}}</a>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
          </ng-container>
          <strong class="secondary-text nav-label">{{title}}</strong>
        </div>
        <div class="nav-button" (click)="forward()">
          <mat-icon class="secondary-text s-18">arrow_forward</mat-icon>
        </div>
      </div>
      <div class="h1 mt-16">{{title}}</div>
      <div class="h3 mt-16">{{subtitle}}</div>
    </div>
  </div>

  <!-- CENTER -->
  <app-watermark></app-watermark>
  <div class="content-container">
    <div [ngClass]="{content: true, wide:wide===true, full:full===true}">
      <ng-content></ng-content>
    </div>
  </div>
</div>
