<div [ngSwitch]="valueType">
  <div *ngSwitchCase="'Message'">{{value.message}}</div>
  <div *ngSwitchCase="'EncryptedMessage'">
    <mat-icon class="s-16 lock">lock</mat-icon>
    <div *ngIf="decryptedMessage">{{decryptedMessage}}</div>
    <div *ngIf="!decryptedMessage">
      <mat-form-field>
        <input matInput [(ngModel)]="pin" type="password" name="pin" placeholder="{{ 'input_pin' | i18n }}">
      </mat-form-field> 
      <button type="submit" class="mr-8" mat-button color="primary"
      (click)="submitPinPrompt($event)">{{ "submit" | i18n }}</button>
    </div>
  </div>
  <div *ngSwitchCase="'BurstAddress'">
    <a [routerLink]="['/account', convertAddressToNumericId(value)]">{{value}}</a>
  </div>
  <div *ngSwitchCase="'Asset'">
    <table>
      <tr>
        <th>{{ 'asset_name' | i18n }}</th>
        <th>{{ 'quantity' | i18n }} (NQT)</th>
      </tr>
      <tr *ngFor="let row of value">
        <td>{{row.asset}}</td>
        <td>{{row.balanceQNT || row.unconfirmedBalanceQNT}}</td>
      </tr>
    </table>
  </div>
  <div *ngSwitchCase="'Transactions'">
      <span *ngFor="let row of value" class="transaction chip">
        <a [routerLink]="['/transactions/transaction', row]">{{row}}</a>
      </span>
  </div>
  <div *ngSwitchDefault>{{value | i18n}}</div>
</div>