:host {
    .plot-selector {
        .__info {
            display: flex;
            align-items: center;
            .pill {
                background: #039be5;
                color: #fff;
                border-radius: 3px;
                padding: 1px 5px;
                line-height: 1.5em;
                font-size: 12px;
            }
            mat-icon {
                padding: 4px 3px;
            }
        }
    }
     ::ng-deep {
        .ngx-slider .ngx-slider-pointer {
            background-color: rgb(3 155 229);
            width: 24px;
            height: 24px;
            border-radius: 50%;
            top: -10px;
            filter: drop-shadow(0px 0px 4px grey);
            &::after {
                top: 8px;
                left: 8px;
            }
            &.-active::after {
                background-color: white;
            }
        }
    }
}