<div>
    <h2>
        New Account? Generate Passphrase
    </h2>
    <div class="pin-container">
        <div class="seed-area" (mousemove)="movement($event)"></div>
        <mat-progress-bar mode="determinate" [value]="this.progress"></mat-progress-bar><br />
        Move your mouse across the area to create a random seed for the password generation.
    </div>
    <h2>
        Existing Account? Enter Passphrase
    </h2>
    <div class="passphrase-container">
        <mat-form-field>
            <input matInput type="text" placeholder="Passphrase" [(ngModel)]="passphrase">
        </mat-form-field>
        <button mat-raised-button (click)="setManualPassphrase(this.passphrase)">Next</button>
    </div>
</div>
