<mat-horizontal-stepper #stepper [linear]="true" [selectedIndex]="this.createService.getStepIndex()">
    <mat-step [completed]="this.createService.isPassphraseGenerated()" [editable]="!this.createService.isPassphraseGenerated()">
        <ng-template matStepLabel>Seed</ng-template>
        <div class="step-container">
            <app-account-create-seed></app-account-create-seed>
        </div>
    </mat-step>
    <mat-step [completed]="this.createService.getAddress() != undefined && this.createService.getId() != undefined">
        <ng-template matStepLabel>Record</ng-template>
        <div class="step-container">
            <app-account-create-record></app-account-create-record>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Verify</ng-template>
        <div class="step-container">
            <app-account-create-pin></app-account-create-pin>
        </div>
    </mat-step>
</mat-horizontal-stepper>
