@import "src/@fuse/scss/fuse";

:host {

  .explorer-link {
    position: absolute;
    right: 0;
    color: #0099ff;
    cursor: pointer;
  }

  div.table {
    position: relative;

    .row{
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      padding: 4px;
      @include media-breakpoint('xs') {
        padding: 8px;
        flex-direction: column;
      }
      .label {
        font-weight: bold;
        width: 30%;
        @include media-breakpoint('xs') {
          font-size: smaller;
        }
      }
      .value{
        word-break: break-word;
        width: 70%;
        @include media-breakpoint('xs') {
          width: 100%;
        }
      }
    }
  }
}
