<div class="p-24">
    <h1 mat-dialog-title>
      {{ 'add_contact' | i18n }}
    </h1>
  <div mat-dialog-content>
    <recipient-input [recipientValue]="accountId" (recipientChange)="onRecipientChange($event)"></recipient-input>
    <mat-form-field class="mt-16 w-100-p">
      <mat-label>{{ 'name' | i18n }}</mat-label>
      <input matInput
             type="text"
             autocomplete="off"
             [(ngModel)]="name"
             name="amount"
             maxlength="48"
             [disabled]="accountId.length === 0"
      >
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">{{ 'cancel' | i18n }}</button>
    <button mat-button (click)="onSubmit()" color="accent" [disabled]="!name">{{ 'add_contact' | i18n }}</button>
  </div>
</div>

