<div class="balance grey-700-fg fullwidth">
  <div fxFlex fxLayout="column" >
    <small><span class="dot available"></span>{{'balance_available' | i18n}}</small>
    <span class="font-weight-600">{{balance.availableBalance}}</span>
    <hr class="line"/>
    <small><span class="dot committed"></span> {{'commitment' | i18n}}</small>
    <span class="font-weight-600">{{balance.committedBalance}}</span>
    <hr class="line"/>
    <small><span class="dot reserved"></span> {{'balance_reserved' | i18n}}</small>
    <span class="font-weight-600">{{balance.reservedBalance}}</span>
  </div>
</div>
