name: Test and Build Angular App

on:
  pull_request:
  push:
    branches:
      - "**"
    paths:
      - "web/**"
      - "desktop/**"
    tags-ignore:
      - desktop-[0-9]+.[0-9]+.[0-9]+*

jobs:
  build-ng:
    name: Build Angular App
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Run SignumJS Tests
        run: |
          cd ./lib
          npm ci

      - name: Build Angular Web App
        run: |
          cd ./web/angular-wallet
          npm ci
          npm run build:ci
