@import "src/@fuse/scss/fuse";

mat-form-field {
  width: 100%;
  display: block;
}

form {
  margin: 20px 0;
}

.no-balance {
  color: red;
  font-weight: bold;
}

.recipients-container {
  .recipients-list {
    max-height: 400px;
    overflow-y: auto;
    border: solid 1px lightgrey;
    padding: 1em;
    margin-bottom: 1rem;

    .recipients-item {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      burst-recipient-input {
        margin-right: 8px;
        width: 100%;
      }

      mat-form-field {
        width: 30%
      }

      mat-form-field.last {
        width: 20%;
      }

      mat-icon {
        cursor: pointer;
      }
    }
  }
}

.action-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #666;
    cursor: pointer;

    @include media-breakpoint('xs') {
      flex-direction: column;
      margin-top: 12px;
      justify-content: normal;
    }

    button {
      @include media-breakpoint('xs') {
        margin-top: 12px;
      }

      &:hover {
        color: black
      }
    }
  }
}

.same-amount {
  margin: 10px 0;
  font-size: 14px;
  display: inline-block;
}

.send-button-wrapper {
  position: relative;

  .send-button {
    position: absolute;
    right: 16px;
    bottom: 21px;

    &:disabled {
      opacity: 0.2;
    }

    mat-icon {
      &.enabled {
        color: #039be5;
      }
    }

    mat-spinner {
      top: 1px;
      left: 10px;
    }
  }
}
