mat-form-field {
    width: 100%;
    display: block;
}

form {
    margin:20px 0;
}

.add-recipient {
    width:100%;
}

.same-amount {
    margin:10px 0;
    font-size:14px;
    display: inline-block;
}