mat-form-field {
    width: 100%;
    display: block;
}

form {
    margin:20px 0;
}

.recipients-item{
  display: flex;
  flex-direction: row;
  align-items: baseline;

  burst-recipient-input{
    margin-right: 8px;
    width: 100%;
  }

  mat-form-field{
    width:30%
  }

  mat-icon {
    cursor: pointer;
  }
}

.add-recipient {
    width:100%;
}

.same-amount {
    margin:10px 0;
    font-size:14px;
    display: inline-block;
}

.send-button-wrapper {
  position: relative;

  .send-button {
    position: absolute;
    right: 16px;
    bottom: 21px;

    &:disabled {
      opacity: 0.2;
    }

    mat-icon {
      &.enabled {
        color: #039be5;
      }
    }

    mat-spinner {
      top: 1px;
      left: 10px;
    }
  }
}
